.main {
  min-height: 100vh;
  display: flex;

  flex-direction: column;
  background-color: #f64646;
  font-family: "Inter", sans-serif;
  padding: 30px;
  gap: 40px;
}
.mainTitle {
  font-weight: 700;
  width: fit-content;
  color: white;
  font-size: 26px;
  background-color: black;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 100px;
}
.content {
  display: flex;
  justify-content: center;
}

.pkmngame {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.step {
  border: 7px solid black;
  border-radius: 12px;
  overflow: hidden;
  padding: 20px;
}

.stepTextMd {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.stepTextLg {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

.stepTitle {
  font-weight: 700;
  font-size: 50px;
  text-decoration: underline;
  margin: 0;
  padding-bottom: 20px;
  line-height: 50px;
}

.tutorial {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
}

.random {
  display: flex;
}
